* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Jost', sans-serif;
    color: #FFFFFF;
}

body {
    background: linear-gradient(0deg, rgb(99, 158, 168) 0%, rgb(3, 80, 102) 100%);
    background-color: rgb(54, 113, 124);
    background-repeat: no-repeat;
}

.app-wrap {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    align-items: center;
    justify-items: center;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 15px 15px;
    margin-bottom: 35px;
}

header input {
    width: 25vw;
    max-width: 350px;
    padding: 15px;
    border: none;
    outline: none;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.2);
    font-size: 15px;
    font-weight: 300;
    transition: 0.2s ease-out;
    color: #273944;
    border-radius: 10px;
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.05);
}

header input:focus {
    background-color: #C5D6DE;
}

.main-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    text-align: center;
    grid-gap: 2em;
}

.location {
    grid-column: 1 / -1;
}

.location .city {
    color: #FFFFFF;
    text-transform: uppercase;
    font-size: 28px;
    font-weight: 500;
    margin-bottom: 5px;
}

.location .date {
    color: #FFFFFF;
    font-size: 16px;
}

.current {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr 2fr 1fr;
    justify-self: center;
}

.current .temp {
    align-self: center;
    color: #FFFFFF;
    font-size: 55px;
    font-weight: 500;
    margin: 10px 0;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.3);
}

.current .temp span {
    font-weight: 500;
}

.current .weather, .forecast-weather {
    color: #FFFFFF;
    font-size: 45px;
    font-weight: 700;
    font-family: 'Caveat', cursive;
}

.forecast-weather {
    font-size: 25px;
}

.current .hi-low {
    color: #FFFFFF;
    font-size: 1em;
    font-weight: 500;
}

.current .weather-icon {
    grid-row: 1 / -1;
    margin: 15px;
    align-self: center;
}

.current .weather-icon img {
    max-width: 125px;
}

.details {
    display: grid;
    grid-template-columns: repeat(3, minmax(100px, 175px));
    grid-gap: 5px;
    color: #FFFFFF;
    align-items: center;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.05);
    padding: 15px;
    padding-bottom: 25px;
    margin-right: 5px;
    justify-content: center;
}

.details img {
    width: 50px;
    height: 50px;
    margin-top: 15px;
}

.wind, .humid, .cloud, .pressure {
    color: #FFFFFF;
    font-size: 15px;
    align-items: center;
    text-align: center;
}

.show-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.show-details img {
    width: 50px;
    height: 50px;
    margin-top: 15px;
}

.hidden {
    display: none;
}

.data-wrap {
    width: 80vw;
}

.forecast {
    overflow-x: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    text-align: center;
    margin-top: 25px;
    margin-right: 5px;
    margin-left: 5px;
    padding: 15px 5px;
}

.forecast-item {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.05);
    padding: 10px;
    flex-grow: 1;
    margin: 0 5px;
    width: 150px;
    height: 220px;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    transition: 500ms linear;
}

.forecast-item:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.forecast-item-date {
    font-size: 0.95em;
}

.active {
    border: 2px solid white;
    background-color: rgba(255, 255, 255, 0.3);
    transform: scale(1.05);
}

.show-details, .mobile-visible {
    display: none;
}

.forecast img {
    width: 50px;
    margin: 20px 0 0 0;
}

#loader {
    padding: 0;
    margin: 0;
    border: 1.6rem solid rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    border-top: 1.6rem solid white;
    width: 12rem;
    height: 12rem;
    animation: spin 3s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@media (max-width: 760px) {
    .forecast-item-date {
        font-size: 0.9em;
    }
    header input {
        width: 80vw;
    }
    .details {
        width: 90%;
        margin: 0;
    }
    .main-container {
        display: flex;
        flex-direction: column;
    }
    .mobile-visible {
        display: initial;
    }
    .data-wrap {
        width: 100%;
    }
    .forecast {
        flex-wrap: wrap;
        width: 100%;
        justify-content: space-around;
        margin-left: 0;
        margin-right: 0;
    }
    .forecast-item {
        margin-bottom: 15px;
        flex-grow: 0;
        max-width: 150px;
    }
}

@media (max-width: 350px) {
    .forecast-item {
        margin-bottom: 15px;
        flex-grow: 0;
        max-width: 135px;
    }
}