* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Jost', sans-serif;
    color: #FFFFFF;
}

body {
    background: linear-gradient(0deg, rgb(99, 158, 168) 0%, rgb(3, 80, 102) 100%);
    background-color: rgba(85,170,187,1);
}

.app-wrap {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 15px 15px;
    margin-bottom: 35px;
}

header input {
    width: 100%;
    max-width: 350px;
    padding: 15px;
    border: none;
    outline: none;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.5);
    font-size: 15px;
    font-weight: 300;
    transition: 0.2s ease-out;
    color: #273944;
}

header input:focus {
    background-color: #C5D6DE;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}


.location .city {
    color: #FFFFFF;
    text-transform: uppercase;
    font-size: 28px;
    font-weight: 500;
    margin-bottom: 5px;
}

.location .date {
    color: #FFFFFF;
    font-size: 16px;
    margin-bottom: 30px;
}


.current {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr 2fr 1fr 1fr;
}

.current .temp {
    align-self: center;
    color: #FFFFFF;
    font-size: 55px;
    font-weight: 500;
    margin: 10px 0;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.3);
}

.current .temp span {
    font-weight: 500;
}

.current .weather {
    color: #FFFFFF;
    font-size: 45px;
    font-weight: 700;
    font-family: 'Caveat', cursive;
}

.current .hi-low {
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 500;
}

.current .weather-icon {
    grid-row: 1 / -1;
    margin: 15px;
    align-self: center;
}

.current .weather-icon img {
    max-width: 150px;
}

.details {
    display: grid;
    grid-template-columns: repeat(2, minmax(100px, 175px));
    width: 100%;
    max-width: 350px;
    color: #FFFFFF;
    font-size: 20px;
    align-items: center;
    text-align: center;
}

.details img {
    width: 50px;
    height: 50px;
    margin-top: 15px;
}

.wind, .humid, .cloud, .pressure {
    color: #FFFFFF;
    font-size: 15px;
    align-items: center;
    text-align: center;
}

.show-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.show-details img {
    width: 50px;
    height: 50px;
    margin-top: 15px;
}

.hidden {
    display: none;
}